{{!--
 * Copyright (C) 2016 SailPoint Technologies, Inc.  All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
--}}
<h1>{{title}}</h1>
<p>Please sign in.</p>

<form id="login-form" action="javascript:void(0)">
	user name: <input name="username" type="text"><br>
	password: <input name="password" type="password"><br>
	<input type="submit" value="Sign In">
</form>
<br>

{{!-- div for error messages --}}
<div id="error-msg" style="color:red"></div>

{{!--
 SLPT.auth.login() is in version 2.0.0 and higher.  You can also use:
 * slpt-identitynow-2.0.0.min.js : minified
 * slpt-identitynow-2.x.x.js : will always contain the latest version
 * slpt-identitynow-2.x.x.min.js : latest version, minified

 JSDoc comments describing the APIs and their arguments can be found within
 any non-minified library.  Simply open your browser with the URL of the
 script src value.
--}}
<script src="https://files.accessiq.sailpoint.com/integrations/lib/slpt-identitynow-2.0.0.min.js"></script>

<script>
(function() {
	// register the submit event handler, which attempts the login
	var form = document.getElementById('login-form');
	if (form) {
		form.addEventListener('submit', doLogin);
	}

	// show an error message if applicable
	var err = document.getElementById('error-msg');
	if (err && getQueryParams().error) {
		err.innerHTML = 'Authentication failed.';
	}

	/**
	 * Submit event handler, which invokes the SLPT.auth.login() function
	 * to log in to IdentityNow.
	 *
	 * @param {Object} event The onsubmit event.
	 */
	function doLogin(event) {
		var els = event.target.elements;

		// Invoke login() with a single config object.
		// The gotoUrl value, available as the 'goto' query parameter, must not
		// be URL-encoded.  If needed, decode using decodeURIComponent().
		// Values that typically do not need to be overridden are commented out.
		SLPT.auth.login({
			username: els.namedItem('username').value,
			password: els.namedItem('password').value,
			// baseUrl: 'https://<org>.api.identitynow.com/',  // shown is the default
			errorCallback: errorHandler
			// org: getQueryParams().org,  // shown is the default
			// gotoUrl: getQueryParams().goto  // shown is the default
		});

		// Alternatively, you can invoke login() with discrete, positional
		// parameters.
		/*
		SLPT.auth.login(
			els.namedItem('username').value,  // username
			els.namedItem('password').value,  // password
			null,  // baseUrl; uses default value 'https://<org>.api.identitynow.com/'
			errorHandler,  // errorCallback
			null,  // org; uses default value getQueryParams().org
			null  // gotoUrl; uses default value getQueryParams().goto
		);
		*/
	};

	/**
	 * Error callback handler, called if an error occurs prior to
	 * the authentication post attempt.
	 *
	 * @param {int} status Status code.
	 * @param {String} [msg] Error message.
	 */
	function errorHandler(status, msg) {
		var err = document.getElementById('error-msg');
		if (err) {
			err.innerHTML = '[' + status + '] ' + (msg || '');
		}
	};

	/**
	 * Local implementation of a utility to read query parameters from a
	 * URL.  If you have a favorite utility such as jQuery, use that instead.
	 *
	 * @param {String} [paramStr=window.location.search] Query parameter
	 *    string with zero or more key/value pairs separated by & or ;.
	 * @return {Object} An object of key/value pairs.
	 */
	function getQueryParams(paramStr) {
		paramStr = paramStr || window.location.search;
		if (!paramStr) return {};
		if (paramStr.charAt(0) === '?') {
			paramStr = paramStr.substr(1);
		}

		var pairs = paramStr.split(/[&\;]+/);

		var params = {};
		for (var i = 0; i < pairs.length; ++i) {
			var p = pairs[i].split('=', 2);
			if (p.length != 2) continue;
			var value = decodeURIComponent(p[1].replace(/\+/g, ' '));
			switch(typeof params[p[0]]) {
			case 'undefined':
				params[p[0]] = value;
				break;
			case 'string':
				var arr = [];
				arr.push(params[p[0]]);
				arr.push(value);
				params[p[0]] = arr;
				break;
			default:
				params[p[0]].push(value);
			}
		}
		return params;
	}
})();
</script>